[Unit]
Description=Serviço para a API STHT
After=network.target

[Service]
Type=simple
User=
WorkingDirectory=/home/rm555310/Edge-Computing-Fiware/venv
ExecStart=/home/rm555310/Edge-Computing-Fiware/venv/bin/python3 /home/rm555310/Edge-Computing-Fiware/venv/api-sth.py
Restart=always

[Install]
WantedBy=multi-user.target






